<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="UploadTypeLimit" value="txt,pdf,jpg,docx,doc,xls,xlsx,png,gif,zip,rar,xml"/>
    <add key="UploadSizeLimit" value="209710520"/>
    <add key="LogPath" value="E:\logs"/>
    <add key="SegmentSavePath" value="E:\Segments"/>
    <add key="AttachSavePath" value="E:\Attachs"/>
  </appSettings>
  <connectionStrings >
    <add  name="DBAttach"  connectionString="server=localhost;database=DBAttachs;uid=sa;pwd=!QAZ2wsx"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
