<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add  key="aa" value="E:\电子书"/>
    <add  key="LogPath" value="E:\logs"/>
  </appSettings>
  <applicationSettings>
    <TestConsole.Properties.Settings>
      <setting name="TestConsole_WebUploadSvc_WebUploadService" serializeAs="String">
        <value>http://localhost:33030/Service/WebUploadService.asmx</value>
      </setting>
    </TestConsole.Properties.Settings>
  </applicationSettings>
</configuration>